{% extends 'base.html' %}
{% block admin-panel  %}
     <a href="{{ admin_object.update_url }}" class="btn btn-light update" style="{% if detail %}display:block{% endif %}">Edit</a>
    <a href="{{ admin_object.delete_url }}" class="btn btn-danger delete" style="{% if detail %}display:block{% endif %}">Delete</a>
    <div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Create
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" href="{% url 'post_create_url' %}">Post</a></li>
    <li><a class="dropdown-item" href="{% url 'tag_create_url' %}">Tag</a></li>
  </ul>
</div>

{% endblock %}